@import "custom";

// variables:
$yellow: #fff7ac;
$red: #eb6b6b;

$h2-color: $yellow;
$hover-color: #92d1b2;

// icons
.fa-trash-can {
  color: $red;
  &:hover {
    color: $hover-color;
  }
}
.fa-pen-to-square {
  color: $yellow;
  &:hover {
    color: $hover-color;
  }
}

// Header

.navbar {
  &-brand {
    &-logo {
      max-height: 50px;
    }
  }
  &-link {
    &-text {
      display: inline;
    }
    &-icon {
      width: 40px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .navbar {
    &-collapse {
      padding-left: 5em;
    }
    &-link {
      &-text {
        display: none;
      }
      &-icon {
        margin-left: 1em;
      }
    }
  }
}

// Main

main {
  margin: 2em auto;
}

h2 {
  color: $h2-color;
  font-size: 1.7em;
}
p {
  font-family: $font-family-serif;
}
// Posts and Comments

.post {
  width: 18rem;
  box-shadow: 2px 2px 3px black;
  border-width: 1px 0 0 0;
  &__comment {
    &-header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &-count {
      margin: 0;
      padding: 6px 12px;
      font-size: 0.8em;
    }
    &-viewtoggler {
      font-style: italic;
      color: white;
      &:hover {
        // Change color!
        color: grey;
      }
    }
  }
  &__body {
    &-maintext {
      font-size: 1.2em;
    }
    &-toolbar {
      margin: 0;
      text-align: right;
      i {
        margin: 0 0 0 0.6em;
      }
    }
    &-created {
      font-size: 0.8em;
      opacity: 0.6;
      // text-align: right;
      font-style: italic;
      &-link {
        color: white;
        &:hover {
          color: $hover-color;
        }
      }
    }
  }
  &:hover {
    //border: 1px solid white;
    // filter: drop-shadow(2px 4px 6px black);
    filter: saturate(0.5);
    cursor: pointer;
  }
}

.comments {
  &__body {
    background-color: #7e91d9;
    &-writtenby {
      font-size: 0.8em;
      opacity: 0.8;
      &-link {
        color: black;
        opacity: 0.8;
        &:hover {
          opacity: 1;
          color: $hover-color;
        }
      }
    }
    &-text {
    }
  }
  &__form {
    &:focus-within {
      .comments__form-submitbutton {
        display: inline-block;
        //color: green;
      }

      .comments__form-commentfield {
        height: 90px;
      }
    }
    &-submitbutton {
      display: none;
      float: right;
      //display: inline;
    }
    &-commentfield {
      height: 35px;
      // &:empty {
      //   .comments__form-submitbutton {
      //     pointer-events: none;
      //   }
      // }
      // &:active,
      // &:focus {
      //   .comments__form-submitbutton {
      //     //display: block;
      //     color: green;
      //   }
      // }
    }
  }
}

.card {
  padding: 0;
  margin: 5px;
  &-title {
    margin-bottom: 0;
  }
  &-text {
    font-family: $font-family-serif;
    //padding: 0.5em 0;
  }
  &-img {
    &-top {
      max-height: 150px;
      object-fit: cover;
    }
  }
  &-body {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

// Profiles

.user {
  margin: 0.6em;
  display: flex;
  background-size: cover;
  background-position-y: center;
  background-color: #7e91d9;
  max-width: fit-content;
  box-shadow: 2px 2px 4px black;
  padding: 0;
  &:hover {
    .user__profile {
      background-color: rgba($color: #000000, $alpha: 0);
      color: white;
    }
    .user__profile-counts {
      display: none;
    }
    .user__profile-follow {
      display: block;
    }
  }
  &-wrapper {
    margin: 0;
  }
  &-link {
    display: flex;
    color: white;
    text-decoration: none;
  }
  &-isfollowed {
    box-shadow: 2px 2px 4px springgreen;
  }
  &__profile {
    display: flex;
    background-color: rgba($color: #000000, $alpha: 0.7);
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 300px;
    margin: 0 0 0 1em;
    &-follow {
      display: none;
    }
    &-imagecontainer {
      align-self: center;
      &-img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 50px;
        border: 2px solid black;
        margin-left: 0.5em;
      }
    }
    &-details {
      &-name,
      &-email {
        filter: drop-shadow(2px 4px 6px black);
      }
    }
    // &-content {
    //   &-name {
    //     font-size: 1.5em;
    //   }
    // }
    &-counts {
      margin-right: 1em;
      &-detail {
        font-size: 0.9em;
        margin: 0;
      }
    }
  }
}

// hide thumbs by default.
.mediaThumb {
  display: none;
  max-height: 100px;
  margin-top: 0.5em;
}
