@import "custom";

// Header

.navbar {
  &-brand {
    &-logo {
      max-height: 50px;
    }
  }
}

// Main

main {
  margin: 2em auto;
}

// Posts and Comments

.post {
  width: 18rem;
  &__comment {
    &-header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &-count {
      margin: 0;
      padding: 6px 12px;
    }
    &-viewtoggler {
      font-style: italic;
      color: white;
      &:hover {
        // Change color!
        color: grey;
      }
    }
  }
  box-shadow: 2px 2px 3px black;
  border-width: 1px 0 0 0;

  &:hover {
    //border: 1px solid white;
    // filter: drop-shadow(2px 4px 6px black);
    filter: saturate(0.5);
    cursor: pointer;
  }
}

.card {
  padding: 0;
  margin: 5px;
  &-text {
    font-family: $font-family-serif;
  }
  &-img {
    &-top {
      max-height: 150px;
      object-fit: cover;
    }
  }
}

// Profiles

.user {
  list-style: none;
  &__profile {
    &-imagecontainer {
      &-img {
        height: 100px;
        width: 100px;
        object-fit: cover;
      }
    }
    &-content {
      &-name {
        font-size: 1.5em;
      }
    }
    &-counts {
      &-detail {
        font-size: 0.8em;
        margin: 0;
      }
    }
  }
}
