@import "custom";

// Posts and Comments

.post {
    &__comment {
        &-header {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        &-count {
            margin: 0;
            padding: 6px 12px;
        }
        &-viewtoggler {
            font-style: italic;
            color: white;
            &:hover {
                // Change color!
                color: grey;
            }
        }
    }
}
