// Add customization to bootstrap here...
// Regular styling goes to App.scss or other imports there.

//$primary: red;
$body-bg: #2d344d;
$body-color: #fff;

// fonts: (add alternatives)
$font-family-sans-serif: "Yanone Kaffeesatz", sans-serif;
$font-family-serif: "Lora", serif;
// Header

$nav-link-font-size: 1.4em;

// cards:
$card-bg: #3c4d71;
$card-color: white;
// Bootstrap (imported at the end to include the above customization.
@import "~bootstrap/scss/bootstrap";
